.lbox input{
    padding: 5px;
    width: 300px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
}
.icontainter{
    max-width: 500px;
    width: 400px;
    display: flex;

}
.inp {
    text-align: center;
    color: rgb(255, 255, 255);
    width: 400px;
    height: 30px;
    font-family: Karla;
    font-size: 20px;
}
.inp::placeholder {
    color: rgb(255, 0, 0);
}
.space{
    height: 20px
}
.lbox p{
    font-size: 20px;
    font-family: Karla;
    color: white;
    text-align: center;
}
.lbox form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lbox button{
    background-color: black;
    color: white;
    font-family: Karla;
    border: 2px solid red;
    border-radius: 10px;

    width: 100px;
    height: auto;
}

